[Unit]
Description=HVAC Controller Service
After=multi-user.target

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/python3 /opt/hvac_controller/nest.py
ExecStopPost=/usr/bin/python3 /opt/hvac_controller/classes/hvac_controller.py off

[Install]
WantedBy=multi-user.target
Alias=nest.service